<title>CGV Cinemas</title>

<div class="text-center">
    <h1 class="display-4 py-4">CGV Cinema</h1>
    <img class="container "
        src="https://image.baophapluat.vn/460x306/Uploaded/2021/zsgkqzztgymu/2017_06_01/ho_so_hollywoodso_106anh_2_YAHD.jpg"
        alt="">
</div>