@model Cinema.Models.Movie;

<title>Add Movie</title>

<div class="text-center">
  <h2 class="py-5">Thêm Phim</h2>
  <form method="POST" asp-action="Add">
    <div class="mb-4 col col-6 offset-3">
      <label class="form-label fs-4 pb-4">Tên Phim</label>
      <input asp-for="Name" class="form-control fs-5" autocomplete="off" placeholder="Parasite" required>
      <br>
      <input asp-for="NameVie" class="form-control fs-5" autocomplete="off" placeholder="Ký Sinh Trùng" required>
    </div>
    <div class="mb-4 col col-6 offset-3">
      <label class="form-label fs-4">Thể Loại</label>
      <input asp-for="Category" class="form-control fs-5" autocomplete="off" placeholder="Giật Gân, Chính Kịch" required>
    </div>
    <div class="mb-4 col-8 offset-2">
      <label class="form-label fs-4">Image Url</label>
      <input asp-for="Image" class="form-control fs-5" autocomplete="off" placeholder="https://image-of-parasite.png" required>
    </div>
  
    <button asp-action="Index" class="btn btn-lg btn-danger mx-3">Huỷ Bỏ</button>
    <button type="submit" class="btn btn-lg btn-primary">Thêm Phim</button>
  </form>
</div>